In [1]:
import pandas as pd
import numpy as np

In [2]:
cityfile = "city.xlsx"
countfile = "county.xlsx"
schoolsfile1 = "schools1417.xlsx"
schoolsfile2 = "schools1819.xlsx"

In [3]:
cols = ['emp_id', 'date', 'lname', 'fname', 'hours', 'pay_code', 'pay_desc', 'amt']
dfcity = pd.read_excel(cityfile, names=cols)
dfcity.emp_id = dfcity.emp_id.apply(str)
dfcity['year'] = dfcity['date'].dt.year

In [6]:
dfcity2014 = dfcity[dfcity.year == 2014].reset_index()

top2014 = dfcity2014.groupby(['emp_id']
                            ).amt.sum().reset_index().sort_values('amt', ascending=False)

citytot14 = str(dfcity2014.amt.sum())
citymedian14 = str(top2014.median().amt)
typetot14 = str(dfcity2014.groupby('pay_desc').amt.sum())
print("The city paid a a total of $" + citytot + " in 2014")
print("Here's how it broke out by category: " + typetot)
print("The median buyout amount was $" + citymedian)

The city paid a a total of $371720.71 in 2014
Here's how it broke out by category: pay_desc
FIRE SICK LEAVE BUY BACK     206342.51
PTO SELL BACK               3359993.63
SICK SELL BACK                 5142.11
VACATION SELL BACK           808729.54
Name: amt, dtype: float64
The median buyout amount was $1168.63

In [8]:
dfcity2015 = dfcity[dfcity.year == 2015].reset_index()
top2015 = dfcity2015.groupby(['emp_id']
                            ).amt.sum().reset_index().sort_values('amt', ascending=False)

citytot15 = str(dfcity2015.amt.sum())
citymedian15 = str(top2015.median().amt)
typetot15 = str(dfcity2015.groupby('pay_desc').amt.sum())
print("The city paid a a total of $" + citytot15 + " in 2015")
print("Here's how it broke out by category: " + typetot15)
print("The median buyout amount was $" + citymedian15)

The city paid a a total of $661915.6499999999 in 2015
Here's how it broke out by category: pay_desc
FIRE SICK LEAVE BUY BACK    101983.53
PTO SELL BACK               559932.12
Name: amt, dtype: float64
The median buyout amount was $1168.63